.container
    .row
        input(
            v-for='(item, index) in choosed_related_items'
            v-bind:name='name + "[" + index + "]"'
            v-bind:value='item.id'
            type='hidden'
        )
        .d-flex.justify-content-between.w-100
            h2.title {{ title }}
            .dropdown
                dynamic-component#dropdownLinks.dropdown-button.dropdown-toggle(
                    type="button"
                    data-toggle='dropdown'
                    aria-haspopup="true"
                    aria-expanded='false'
                    v-bind:component_infos='dropdown_button_section'
                )
                .dropdown-menu(aria-labelledby='dropdownLinks')
                    component(
                        v-if='select_sections'
                        v-for='select_element in select_sections'
                        v-on:custom-click='addElement'
                        v-bind:is='select_element.type'
                        v-bind.sync='select_element.data'
                    )
        .table-responsive
            table.table.main-box.clearfix
                tr(v-for='element in related_items')
                    td
                        p.element-link {{ element.title }}
                    td.text-end
                        ecom-icon-link-with-small-image(
                            img_url='images/trash-can-regular.svg'
                            v-on:click='deleteElement(element.id)'
                        )
